@using DtoLayer.Dtos.educationDto
@model List<educationListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <section>
                <h2 class="text-secondary fw-bolder mb-4" style="text-align:center;">Education</h2>
                <!-- Education Card 2-->
                @foreach (var i in Model)
                {

                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">2015 - 2017</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">@i.educationSchool</div>
                                            <div class="small text-muted">@i.educationAdress</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">@i.educationSchool</div>
                                            <div class="small text-muted">@i.educationDepartment</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>@i.educationDescription</div></div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
